<div class="card">
    <div class="card-image"> {{id}}.{{ avatar }} </div>
    <div class="card-text">

        <h2> {{id}}.{{ name }} </h2>
        <p> {{id}}.{{ zodiac }} </p>
        <p>{{id}}.{{ notes }}</p>
    </div>
    <div class="card-stats">
        <div class="stat">
            <div class="value">Buddies</div>
            <div class="type">{{id}}.{{ buddies }}</div>
        </div>
        <div class="stat border">
            <div class="value">Category</div>
            <div class="type">{{id}}.{{ subject }}</div>
        </div>
        <div class="stat">
            <div class="value">Preference</div>
            <div class="type">{{id}}.{{ preference }}</div>
        </div>
        <div><button id="reqSubmit" type="button" class="btn btn-primary">Let's Study!</button></div>
    </div>
</div>